<div class="applicants">
  <h2>Applicants</h2>
  <form method="post">
    <table class = appTable>
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Name</th>
          <th scope="col">SSN</th>
          <th scope="col">Age</th>
          <th scope="col">Phone #</th>
          <th>Select</th>
        </tr>
      </thead>
      <tbody>
        {{#each apply}}
        <tr>
          <td>{{@index}}</td>
          <td>{{this.name}}</td>
          <td>{{this.social}}</td>
          <td>{{this.age}}</td>
          <td>{{this.phone}}</td>
          <td>
            <input type="radio" name="foo" value="{{this.social}}">
          </td>
        </tr>
        {{/each}}
      </tbody>
    </table>
    <input type="number" name="id" placeholder="Enter Employee id">
    <input type="number" name="startdate" placeholder="Enter Employee Start Date">
    <div class="tsub">
      <input type="submit" class="button" value="Hire" formaction="/hire">
      <input type="submit" class="button" value="Delete" formaction="/removeApp">
    </div>
  </form>
</div>
